@import "tailwindcss";
body{
background-color: #E6F4EA;
}
.hide-scrollbar {
  -ms-overflow-style: none;     /* IE & Edge */
  scrollbar-width: none;        /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}
::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb{
    background: rgb(166, 166, 166);
}